.Keyboard {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8pt;
}

.Row {
  display: flex;
  flex-direction: row;
  gap: 8pt;
}

.Center {
  justify-content: center;
}